/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-90qg9c.e1tzin5v3 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

    width: 350px;
    height: 136px;
}